.navbar {
    background: var(--purple);
    color: #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100px;
    width: 100%;
}
  
.titleSearch {
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: inherit;
}
  
.title {
    padding: 0px var(--padding);
}
  
.searchBar {
    flex: auto;
    
    background: #fff;
    color: var(--search-text);
    
    margin: 0px var(--layout-spacing);
    padding: var(--padding);
    
    border: none;
    border-radius: var(--radius);
    
    max-width: 300px;
}
  
.linkContainer {
    flex: 1;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    list-style: none;
    
    height: inherit;
}
  
.link {
    border-radius: var(--radius);
    
    padding: var(--padding);
    
    transition: all 0.3s;

    font-size: 16px;
}
  
.link:hover {
    background: var(--dark-purple);
}

.link:active {
    background: var(--darker-purple);
}