:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #E5E5E5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --purple: #4E2A84;
  --dark-purple: #422370;
  --darker-purple: #371D5D;

  --yellow: #FFCB05;
  --dark-yellow: #D6AB00;
  --darker-yellow: #B89300;
  
  --search-text: #909090;
  
  --dark-grey: #717171;
  
  --layout-spacing: 16px;
  --padding: 12px;
  --radius: 8px; 
  
  --thin-border: 2px solid;
  --thick-border: 4px solid;
  --shadow: 0px 4px 8px rgb(0 0 0 / 25%);
}

body {
    margin: 0;
}
  
button {
    cursor: pointer;
}
  
p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;

    line-height: normal;
}

div {
    box-sizing: border-box;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}