.contactInfoButton {
    background: var(--purple);
    color: white;
    
    box-sizing: border-box; 
    border: var(--thin-border) var(--purple);
    border-radius: var(--radius);
    
    box-shadow: var(--shadow);
    
    padding: calc(var(--padding) / 2);
      
    width: 150px;
      
    font-weight: bold;
    
    transition: all 0.3s;
}
  
.contactInfoButton:hover {
    transform: translateY(-2px);
}

.contactInfoButton:active {
    transform: translateY(-1px);
}